.aboutContainer 
    ._huato_product_banner
        img 
            width: 100%
    .aboutMain
        padding-bottom: 30px
        .aboutContentBox 
            width: 1200px
            height: auto
            margin: 0 auto
            padding: 80px 0 20px 0
            // overflow: hidden
            .content 
                height: 320px
                text-align: center
                position: relative
                .aboutInfo
                    width: 100%
                    height: 100%
                    position: relative
                    .huatoLogo 
                        position: absolute
                        top: -20px
                        display: block
                        width: 300px
                        height: 40px
                        background: #fff url('../../assets/image/public/icons/LOGO.png') no-repeat
                        background-position: 106px 0px
                        z-index: 2
                    .title
                        width: 100px
                        height: 100px
                        position: absolute
                        text-align: center
                        // line-height: 100px
                        font-size: 18px
                        color: #fff
                        border-radius: 50%
                        background: #2375bc
                        box-shadow: 0 0 5px 5px #fff
                        word-wrap: break-word
                        z-index: 2
                        p 
                            padding: 35px 10px 0 10px
                            // padding-left: 10px
                    .detailsInfo
                        width: 850px
                        margin: auto
                        margin-top: 30px
                        .product img
                            width: 110px
                            height: 110px
                            overflow: hidden
                            border-radius: 50%
                        .product .ant-col-24
                            height: 30px
                            line-height: 30px
                            margin-bottom: 10px
                    .detailsInfoText
                        line-height: 25px
                        text-indent: 30px
                        text-align: left
                        font-size: 14px
                .one 
                    // border-top: 2px solid #2375bc
                    position: absolute
                    top: 0
                    left: 0
                    .title
                        top: -50px
                        left: 46%
                    .companyInfo
                        margin-top: 80px
                        // text-align: center
                        p
                            width: 100px
                            margin: auto
                            text-align: left
                            font-size: 16px
                        .yarn
                            font-size: 35px
                            color: #2375bc
                            font-weight: 600
                            .text
                                font-size: 18px
                                color: #666
                                font-weight: 100
                    
                    
                .one:before 
                    content: ''
                    width: 50%
                    height: 100%
                    position: absolute
                    top: 0
                    // bottom: -2px
                    right: 0
                    border-top: 2px solid #2375bc
                    border-right: 2px solid #2375bc
                    border-bottom: 2px solid #2375bc
                    border-top-right-radius: 160px
                    border-bottom-right-radius: 160px
                .one:after
                    content: ''
                    width: 50%
                    height: 100%
                    position: absolute
                    top: 0
                    left: 0
                    border-top: 2px solid #2375bc
                    z-index: 1
                .two
                    position: absolute
                    top: -2px
                    left: 0
                    // width: 100%
                    // border: 2px solid #2375bc
                    
                    // border-right: none
                    .title
                        top: 110px
                        left: -50px
                .two:before
                    content: ''
                    position: absolute
                    width: 50%
                    height: 100%
                    top: 0
                    left: 0
                    border-top: 2px solid #2375bc
                    border-left: 2px solid #2375bc
                    border-bottom: 2px solid #2375bc
                    border-top-left-radius: 160px
                    border-bottom-left-radius: 160px
                // .two:after
                //     content: ''
                //     position: absolute
                //     right: 0
                //     bottom: -2px
                //     width: 145px
                //     border: 1px solid #fff
                .three 
                    position: absolute
                    top: -4px
                    .title 
                        top: 110px
                        left: 95.8%
                        right: -50px
                    .professional 
                        height: 100%
                        padding-right: 15px
                        padding-top: 45px
                        line-height: 25px
                        text-indent: 30px
                        text-align: right
                        font-size: 14px
                        border-right: 1px solid #666
                    .professionalright
                        span 
                            display: block
                        .patentIcon
                            width: 70px
                            height: 80px
                            margin: auto
                        .patent
                            background: url('../../assets/image/public/others/home_about/patent.png') no-repeat
                            background-position: 10px 0
                        .team
                            background: url('../../assets/image/public/others/home_about/team.png') no-repeat
                            background-position: 0px 0
                        .patentNum
                            font-size: 50px
                            font-weight: 600
                        .patentText
                            font-size: 20px
                        
                .three:before
                    content: ''
                    position: absolute
                    width: 50%
                    height: 100%
                    top: 0
                    right: 0
                    border-top: 2px solid #2375bc
                    border-right: 2px solid #2375bc
                    border-bottom: 2px solid #2375bc
                    border-top-right-radius: 160px
                    border-bottom-right-radius: 160px

                .four 
                    top: -6px
                    .business
                        margin-top: 50px
                        .businessBorder
                            border-right: 1px solid #666
                            position: relative
                            height: 200px
                            .businessEarth
                                position: absolute
                                left: -65px
                                display: inline-block
                                width: 230px
                                height: 200px
                                background: url('../../assets/image/public/others/home_about/map.png') no-repeat
                                background-size: cover
                        .details
                            padding-left: 30px
                            padding-top: 50px
                            line-height: 25px
                            text-indent: 30px
                            text-align: left
                            font-size: 14px 
                .factory
                    position: absolute
                    width: 100%
                    height: 770px
                    top: -8px
                    // padding-left: 70px
                    // border-top: 2px solid #2375bc
                    // border-right: 2px solid #2375bc
                    // border-top-right-radius: 160px
                    .title1
                        top: 100px
                        right: -50px
                    .title2
                        top: 505px
                        right: -50px
                    .equipmentImg
                        padding-top: 60px
                        margin-left: 70px
                        width: 1030px
                        height: 100%
                        .distribution
                            height: 185px
                            .ant-col-7, .ant-col-8 
                                height: 100%
                                img 
                                    width: 100%
                                    height: 100%
                                    padding-right: 15px
                                .lastImg
                                    border-top-right-radius: 110px
                                    padding-right: 0
                        .MonitoringEquipmentimg
                            height: 505px
                            margin-top: 15px
                            .leftImg
                                padding-right: 15px
                                height: 100%
                                img 
                                    width: 100%
                                    height: 100%
                            .centerImg
                                height: 100%
                                padding-right: 15px
                                .twoImg
                                    height: 50%
                                    padding-bottom: 5px
                                    img 
                                        width: 100%
                                        height: 100%
                                .last
                                    padding-top: 5px
                                    padding-bottom: 0
                            .rightImg
                                height: 100%
                                .threeImg
                                    height: 33.3%
                                    padding-bottom: 5px
                                    padding-top: 5px
                                    img 
                                        width: 100%
                                        height: 100%
                                .first
                                    padding-top: 0
                                .last
                                    padding-bottom: 0
                                    
                                    
                .factory:before
                    content: ''
                    position: absolute
                    width: 50%
                    height: 100%
                    top: 0
                    right: 0
                    border-top: 2px solid #2375bc
                    border-right: 2px solid #2375bc
                    // border-bottom: 2px solid #2375bc
                    border-top-right-radius: 160px
                    // border-bottom-right-radius: 160px
            .lastContent 
                height: 770px
                    
    