<div>
  <div style="margin-bottom: 16px;">
    <button nz-button [nzType]="'primary'" routerLink="/main/pdc/operatingPdc">新增</button>
    <button nz-button [disabled]="_disabledButton" [nzType]="'primary'" [nzLoading]="_editing" (click)="_edited()">修改</button>
    <button nz-button [disabled]="_disabledButton" [nzType]="'primary'" [nzLoading]="_deleteding" (click)="_deleted()">删除</button>
    <span style="margin-left: 8px;" *ngIf="_checkedNumber">Selected {{_checkedNumber}} items</span>
  </div>
  <nz-table #nzTable [nzDataSource]="_dataSet" nzIsPagination='false' (nzDataChange)="_displayDataChange($event)">
    <thead nz-thead>
      <tr>
        <th nz-th nzCheckbox>
          <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
          </label>
        </th>
        <th nz-th width="10%"><span>产品ID</span></th>
        <th nz-th width="20%"><span>产品主图</span></th>
        <th nz-th width="20%"><span>产品名称</span></th>
        <th nz-th width="40%"><span>简介</span></th>
        <th nz-th><span>操作</span></th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td nzCheckbox>
          <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
          </label>
        </td>
        <td nz-td>{{data.Product_ID}}</td>
        <td nz-td class="maxImgSize"><img src="{{data.themImg}}" alt=""></td>
        <td nz-td>{{data.Product_NAME}}</td>
        <td nz-td>{{data.Product_DESC}}</td>
        <td nz-td>查看详情</td>
      </tr>
    </tbody>
  </nz-table>
  <nz-pagination [(nzPageIndex)]="pageIndex" [(nzTotal)]="totalSize" nzPageSize="10"></nz-pagination>
</div>