._huato_productlist
  padding: 50px 0 0 34px
._huato_productcontent
  ._huato_product_nav
    width: 100%
    overflow: hidden
    height: 50px
    position: relative
    >header
      display: inline-block
      border-bottom: 6px solid #247ec5
      height: 100%
      padding: 0 20px 0 5px
      position: absolute
      z-index: 10
      >h2
        height: 44px
        line-height: 44px
        font-size: 24px
        font-family: Microsoft YaHei
        color: #5badf2
        font-weight: bold
        text-align: left
    >nav
      border-bottom: 6px solid #DEDEDE
      display: inline-block
      height: 100%
      position: absolute
      width: 100%
      z-index: 9
      ._huato_navs
        height: 44px
        line-height: 44px
        text-align: right
        span
          font-size: 14px
          color: #666
/**卡片**/
._huato_proListItem
  overflow: hidden
  margin: 40px 0 0 0
  zoom: 1
  ._huato_infoIntroctions
    header
      text-align: center
      border-bottom: 1px dashed #666
      padding-bottom: 5px
      p
        position: relative
        height: 30px
        vertical-align: bottom
        line-height: 40px
      p>a
        position: absolute
        right: 0
        i
          font-size: 14px
  ._huato_product_items
    width: 278px
    border: 1px solid #fff
    cursor: pointer
    .custom-image
      width: 100%
      padding: 0
      height: 210px
      background: #E9E9E6
      overflow: hidden
      text-align: center
      >img
        height: 100%
        width: auto
        display: inline-block
    .custom-card
      height: 124px
      padding: 10px
      h3
        height: 30px
        line-height: 30px
        font-size: 16px
        font-family: Microsoft YaHei
        color: #333
      p
        line-height: 24px
        font-size: 14px
        color: #666666
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 3
        overflow: hidden
::ng-deep .ant-card-body
  padding: 0 !important
/** 分页 **/
._huato_productpage
  text-align: center
  margin: 20px 0 40px
